/* body{
 background-color: ;
} */

.login {
    /*position: fixed;*/
    text-align: right;
    margin-right:30px;
    top: 30px;
    /*border: violet solid 1px;*/
}

.divPadre {
    display: grid;
    justify-content: center;
    align-items: center;
}

.contenedor1 {
    /* border: 1px solid black; */
    max-width: 1200px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: grid;
    justify-content: center;
    align-items: center;
    /* border: blueviolet solid 1px; */
    background-color: black;
    border-radius: 10px;
}

.titulo1 {
    /* border: blueviolet solid 1px; */
    background-color: #F2FFE9;
    border-radius: 5px;
}

.contenedor2 {
    /* border: springgreen solid 1px; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: #1572A1;
    border-radius: 10px;
    width: 1200px;
}

.imagen {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    /* border: black solid 1px; */
}

.divcentrado {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    /* background-color: #5eaaa8; */
}


/*Fondo de index no repite y cubre todo centrado*/

.fondo {
    background-color: #1A1A40;
}

.enlaces{
    /*color:#FDEBF7;*/
    color: black;
}
.enlacesIniSesion{
    color:#FDEBF7;
}